extends ../templates/base

block content
    div(id="chat")
        div(class="page-chat")
            div(class="chat-dialogues")
                div(class="chat-dialogues-info")
                    span(class="chat-dialogues-title") Messaging
                    span(class="chat-dialogues-opproved") 5 opproved
                    span(class="chat-dialogues-declined") 2 declined
                div(class="chat-dialogues-search")
                    form(action"#", class="chat-dialogues-search-form")
                        input(type="text", class="chat-dialogues-search-input")
                        button(type="submit", class="chat-dialogues-search-submit")
                        button(type="button", class="chat-dialogues-search-filter")
                
                div(class="chat-dialogues-items toggle-container")
                    div(data-tabs="chat-1", class="chat-dialogues-item tabs-heading-item active-tabs")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/Robert_Smit.jpg", class="chat-dialogues-item-holder-img toggle-content", id="chat-dialogues-1")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Robert Smit
                                    span(class="chat-dialogues-item-info-quantity") 
                                        span 1
                                    img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-country") Country
                                div(class="chat-dialogues-item-info-row")
                                    a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
                                    a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-company") Company
                                    div(class="chat-dialogues-item-info-position") Position
                
                    div(data-tabs="chat-2", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/Amely_Fox.jpg", class="chat-dialogues-item-holder-img toggle-content", id="chat-dialogues-2")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Amely Fox
                                    span(class="chat-dialogues-item-info-quantity") 
                                        span 5
                                    img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-country") Country
                                div(class="chat-dialogues-item-info-row")
                                    a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
                                    a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-company") Company
                                    div(class="chat-dialogues-item-info-position") Position
                    div(data-tabs="chat-3", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/Oliver_Brown.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Oliver Brown
                                    img(src="../i/icon_mail_open.png", class="chat-dialogues-item-info-mailopen-icon")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-country") Country
                                div(class="chat-dialogues-item-info-row")
                                    a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
                                    a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-company") Company
                                    div(class="chat-dialogues-item-info-position") Position
                                
                    div(data-tabs="chat-4", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Administrator
                                    
                    div(data-tabs="chat-5", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/Robert_Smit.jpg", class="chat-dialogues-item-holder-img toggle-content", id="chat-dialogues")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Robert Smit
                                    span(class="chat-dialogues-item-info-quantity") 
                                        span 1
                                    img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-country") Country
                                div(class="chat-dialogues-item-info-row")
                                    a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
                                    a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-company") Company
                                    div(class="chat-dialogues-item-info-position") Position
                
                    div(data-tabs="chat-6", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/Amely_Fox.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Amely Fox
                                    span(class="chat-dialogues-item-info-quantity") 
                                        span 5
                                    img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-country") Country
                                div(class="chat-dialogues-item-info-row")
                                    a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
                                    a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-company") Company
                                    div(class="chat-dialogues-item-info-position") Position
                                
                    div(data-tabs="chat-7", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/Oliver_Brown.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Oliver Brown
                                    img(src="../i/icon_mail_open.png", class="chat-dialogues-item-info-mailopen-icon")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-country") Country
                                div(class="chat-dialogues-item-info-row")
                                    a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
                                    a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-company") Company
                                    div(class="chat-dialogues-item-info-position") Position
                                
                    div(data-tabs="chat-8", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Administrator
                                    
                    div(data-tabs="chat-9", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Administrator

                    div(data-tabs="chat-10", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Administrator
                                    
                    div(data-tabs="chat-11", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Administrator

                    div(data-tabs="chat-12", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Administrator
                                    
                    div(data-tabs="chat-13", class="chat-dialogues-item tabs-heading-item")
                        div(class="chat-dialogues-item-container")
                            div(class="chat-dialogues-item-holder")
                                img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
                            div(class="chat-dialogues-item-info")
                                div(class="chat-dialogues-item-info-row")
                                    div(class="chat-dialogues-item-info-name") Administrator



                div(class="chat-dialogues-item-detail not-active-toggle", data-toggle-hide="chat-dialogues-1")
                    div(class="chat-dialogues-item-detai-info-row")
                        div(class="chat-dialogues-item-detail-holder")
                            img(src="../dummy/Robert_Smit_big.jpg", class="chat-dialogues-item-detail-holder-img toggle-content", id="chat-dialogues-1")
                    div(class="chat-dialogues-item-detai-info")
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-name") Robert Smit
                            span(class="chat-dialogues-item-detai-info-quantity") 
                                span 1
                            img(src="../i/icon_mail.png", class="chat-dialogues-item-detai-info-mail-icon")
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-country") Country
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-email") Rober@ro.ro
                            div(class="chat-dialogues-item-detai-info-phone") +7 950 858 54 56
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-company") Company
                            div(class="chat-dialogues-item-detai-info-position") Position
                            
                div(class="chat-dialogues-item-detail not-active-toggle", data-toggle-hide="chat-dialogues-2")
                    div(class="chat-dialogues-item-detai-info-row")
                        div(class="chat-dialogues-item-detail-holder")
                            img(src="../dummy/Amely_Fox.jpg", class="chat-dialogues-item-detail-holder-img toggle-content", id="chat-dialogues-2")
                    div(class="chat-dialogues-item-detai-info")
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-name") Robert Smit
                            span(class="chat-dialogues-item-detai-info-quantity") 
                                span 1
                            img(src="../i/icon_mail.png", class="chat-dialogues-item-detai-info-mail-icon")
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-country") Country
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-email") Rober@ro.ro
                            div(class="chat-dialogues-item-detai-info-phone") +7 950 858 54 56
                        div(class="chat-dialogues-item-detai-info-row")
                            div(class="chat-dialogues-item-detai-info-company") Company
                            div(class="chat-dialogues-item-detai-info-position") Position

                
            div(class="chat-messages")
                div(class="chat-message")
                    div(id="chat-1", class="tabs-content-item active-tabs")
                        div(class="chat-message-filter")
                            div(class="chat-message-filter-item")
                                label(class="chat-message-filter-checkbox")
                                    input(type="checkbox", class="chat-message-filter-item-checkbox-item")
                                    span(class="chat-message-filter-checkbox-title") All communication
                            div(class="chat-message-filter-item")
                                select(class="message-filter-select", placeholder="Select deal")
                                    option(value="1") Deal 1
                                    option(value="2") Deal 2 
                                               
                        div(class="chat-message-name-deal")
                            div(class="chat-message-name-deal-inner")
                                div(class="chat-message-name-deal-info")
                                    div(class="chat-message-name-deal-title") Name Deal
                                    div(class="chat-message-name-deal-text") 
                                        p Information of Deal Information of Deal Information of Deal Information of Deal Information of Deal
                                        p Information of Deal 
                                div(class="chat-message-name-deal-control")
                                    button(type="button", class="btn btn--blue chat-message-name-deal-control-approve") Approve
                                    button(type="button", class="btn btn--blue-inverse  chat-message-name-deal-control-decline") decline
                        div(class="chat-message-items")
                            div(class="chat-message-item chat-message-item--user")
                                div(class="chat-message-item-text")
                                    p(class="chat-message-item-text-data") mm/dd/yy
                                    p Donec imperdiet arcu et imperdiet rhoncus. Phasellus egestas purus eros, nec ultricies arcu suscipit sit amet. Sed cursus sed ipsum eu eleifend. Orci varius natoque penatibus et magnis dis parturient motes, nascetur ridiculus mus.
                                div(class="chat-message-item-holder")
                                    img(src="../dummy/Jon_Smit.jpg", class="chat-message-item-holder-img")
                                    span(class="chat-message-item-holder-name") Jon Smit
                            div(class="chat-message-item chat-message-item--companion")
                                div(class="chat-message-item-text")
                                    p(class="chat-message-item-text-data") mm/dd/yy
                                    p Donec imperdiet arcu et imperdiet rhoncus. Phasellus egestas purus eros, nec ultricies arcu suscipit sit amet. Sed cursus sed ipsum eu eleifend. Orci varius natoque penatibus et magnis dis parturient motes, nascetur ridiculus mus.
                                    a(href="#", class="chat-message-item-text-link")
                                        img(src="../i/download.png", class="chat-message-item-text-link-icon")
                                        span(class="chat-message-item-text-link-title") Name document.format
                                div(class="chat-message-item-holder")
                                    img(src="../dummy/Robert_Smit.jpg", class="chat-message-item-holder-img")
                                    span(class="chat-message-item-holder-name") Robert Smit

                        div(class="chat-message-name-deal")
                            div(class="chat-message-name-deal-inner")
                                div(class="chat-message-name-deal-info")
                                    div(class="chat-message-name-deal-title") Name Deal
                                    div(class="chat-message-name-deal-text") Information of Deal Information of Deal Information of Deal Information of Deal Information of Deal
                                div(class="chat-message-name-deal-control")
                                    span(class="chat-message-name-deal-control-information") declined
                                    span(class="chat-message-name-deal-control-information") 13.07.2017

                        div(class="chat-message-send") 
                            form(action="#", class="chat-message-send-form") 
                                div(class="chat-message-send-row")
                                    div(class="chat-message-send-item-holder chat-message-send-item-holder--w4")
                                        textarea(rows="4", class="chat-message-send-item--textarea")
                                    div(class="chat-message-send-item-holder chat-message-send-item-holder--w5")
                                        button(type="button", class="btn btn--green chat-message-send-item-btn")
                                            img(src="../i/share.png", chat-message-send-item-btn-img)
                                        input(type="file", name="files-chat", class="btn btn--blue chat-message-send-item-btn")
                                
                    div(id="chat-2", class="tabs-content-item")
                        div(class="chat-message-filter")
                            div(class="chat-message-filter-item")
                                label(class="chat-message-filter-checkbox")
                                    input(type="checkbox", class="chat-message-filter-item-checkbox-item")
                                    span(class="chat-message-filter-checkbox-title") All communication
                            div(class="chat-message-filter-item")
                                select(class="message-filter-select", placeholder="Select deal")
                                    option(value="1") Deal 1
                                    option(value="2") Deal 2 
                                               
                        div(class="chat-message-items")
                            div(class="chat-message-item chat-message-item--user")
                                div(class="chat-message-item-text")
                                    p(class="chat-message-item-text-data") mm/dd/yy
                                    p Donec imperdiet arcu et imperdiet rhoncus. Phasellus egestas purus eros, nec ultricies arcu suscipit sit amet. Sed cursus sed ipsum eu eleifend. Orci varius natoque penatibus et magnis dis parturient motes, nascetur ridiculus mus.
                                div(class="chat-message-item-holder")
                                    img(src="../dummy/Jon_Smit.jpg", class="chat-message-item-holder-img")
                                    span(class="chat-message-item-holder-name") Jon Smit
                            div(class="chat-message-item chat-message-item--companion")
                                div(class="chat-message-item-text")
                                    p(class="chat-message-item-text-data") mm/dd/yy
                                    p Donec imperdiet arcu et imperdiet rhoncus. Phasellus egestas purus eros, nec ultricies arcu suscipit sit amet. Sed cursus sed ipsum eu eleifend. Orci varius natoque penatibus et magnis dis parturient motes, nascetur ridiculus mus.
                                    a(href="#", class="chat-message-item-text-link")
                                        img(src="../i/download.png", class="chat-message-item-text-link-icon")
                                        span(class="chat-message-item-text-link-title") Name document.format
                                div(class="chat-message-item-holder")
                                    img(src="../dummy/Amely_Fox.jpg", class="chat-message-item-holder-img")
                                    span(class="chat-message-item-holder-name") Amely Fox

                        div(class="chat-message-send") 
                            form(action="#", class="chat-message-send-form") 
                                div(class="chat-message-send-row")
                                    div(class="chat-message-send-item-holder chat-message-send-item-holder--w4")
                                        textarea(rows="4", class="chat-message-send-item--textarea")
                                    div(class="chat-message-send-item-holder chat-message-send-item-holder--w5")
                                        button(type="button", class="btn btn--green chat-message-send-item-btn")
                                            img(src="../i/share.png", class="chat-message-send-item-btn-img")
                                        input(type="file", name="files-chat", class="btn btn--blue chat-message-send-item-btn")
                                         

            
block scripts
    script.
        new Vue({
            created: function() {
                DealibreApp.methods.setAuthorized();
                DealibreApp.methods.setHeader("chat", "header-mobile--aut header-mobile--full", "black");
            }
        });
