extends ../templates/base

block content
	div(class="contacts")
		div(class="page-inner page-inner--w2")
			div(class="contacts-inner")
				div(class="contacts-info")
					b Contact
					p North America
					p State
					p
						a(href="mailto:email@mail.com", class="link link--blue") email@mail.com
				div(class="contacts-form")
					form(class="form")
						div(class="form-row")
							div(class="form-item-holder form-item-holder--half")
								input(type="text", class="form-item form-item--text", placeholder="User name", name="cf1")
							div(class="form-item-holder form-item-holder--half")
								input(type="email", class="form-item form-item--text", placeholder="E-mail", name="cf2", required)
						div(class="form-row")
							div(class="form-item-holder form-item-holder--full")
								textarea(class="form-item form-item--textarea", placeholder="Question", , name="cf3")
						div(class="form-row")
							button(type="submit", class="btn btn--green") Send