extends ../templates/base

block content
	div(class="page-heading")
		div(class="page-inner page-inner--w1")
			h1(class="h1") Faq

	div(class="faq", id="faq")
		div(class="page-inner page-inner--w2")
			div(class="faq-items")
				faqitem(v-for="item in list", v-bind:faq="item", v-bind:key="item.id")

	script(type="text/x-template", id="faq-item")
		div(class="faq-item")
			div(class="faq-item-title") {{ faq.id }}. {{ faq.question }}
			div(class="faq-item-text") {{ faq.answer }}