extends ../templates/base

block content
	div(class="page-heading")
		div(class="page-inner page-inner--w1")
			h1(class="h1") Help

	div(class="help")
		div(class="page-inner page-inner--w2")
			div(class="help-sections")
				div(class="help-section-item")
					h2(class="h2 help-section-item-name") Category 1
					div(class="help-section-item-blocks")
						div(class="help-section-item-block-item")
							div(class="help-section-item-block-item-name-holder")
								a(href="#", class="help-section-item-block-item-name link link--blue") Proin efficitur urna a orci congue imperdiet? 
							div(class="help-section-item-block-item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, cursus nec velit nec, ultrices elementum dui. Nulla tempus eget dui vitae condimentum. Nullam posuere lorem mollis, pharetra nisl in, venenatis purus. In vestibulum ante a ipsum tristique, eu bibendum elit pharetra. Aliquam tempus id eros id dignissim.
						div(class="help-section-item-block-item")
							div(class="help-section-item-block-item-name-holder")
								a(href="#", class="help-section-item-block-item-name link link--blue") Nam eget nibh a tellus tempor tempus ut sed turpis. Ut gravida nulla in ultrices maximus?
							div(class="help-section-item-block-item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, cursus nec velit nec, ultrices elementum dui. Nulla tempus eget dui vitae condimentum. Nullam posuere lorem mollis, pharetra nisl in, venenatis purus. In vestibulum ante a ipsum tristique, eu bibendum elit pharetra. Aliquam tempus id eros id dignissim.
						div(class="help-section-item-block-item")
							div(class="help-section-item-block-item-name-holder")
								a(href="#", class="help-section-item-block-item-name link link--blue") Praesent varius tellus at arcu vehicula?
							div(class="help-section-item-block-item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, cursus nec velit nec, ultrices elementum dui. Nulla tempus eget dui vitae condimentum. Nullam posuere lorem mollis, pharetra nisl in, venenatis purus. In vestibulum ante a ipsum tristique, eu bibendum elit pharetra. Aliquam tempus id eros id dignissim.

				div(class="help-section-item")
					h2(class="h2 help-section-item-name") Category 2
					div(class="help-section-item-blocks")
						div(class="help-section-item-block-item")
							div(class="help-section-item-block-item-name-holder")
								a(href="#", class="help-section-item-block-item-name link link--blue") Proin efficitur urna a orci congue imperdiet? 
							div(class="help-section-item-block-item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, cursus nec velit nec, ultrices elementum dui. Nulla tempus eget dui vitae condimentum. Nullam posuere lorem mollis, pharetra nisl in, venenatis purus. In vestibulum ante a ipsum tristique, eu bibendum elit pharetra. Aliquam tempus id eros id dignissim.
						div(class="help-section-item-block-item")
							div(class="help-section-item-block-item-name-holder")
								a(href="#", class="help-section-item-block-item-name link link--blue") Nam eget nibh a tellus tempor tempus ut sed turpis. Ut gravida nulla in ultrices maximus?
							div(class="help-section-item-block-item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, cursus nec velit nec, ultrices elementum dui. Nulla tempus eget dui vitae condimentum. Nullam posuere lorem mollis, pharetra nisl in, venenatis purus. In vestibulum ante a ipsum tristique, eu bibendum elit pharetra. Aliquam tempus id eros id dignissim.
						div(class="help-section-item-block-item")
							div(class="help-section-item-block-item-name-holder")
								a(href="#", class="help-section-item-block-item-name link link--blue") Praesent varius tellus at arcu vehicula?
							div(class="help-section-item-block-item-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, cursus nec velit nec, ultrices elementum dui. Nulla tempus eget dui vitae condimentum. Nullam posuere lorem mollis, pharetra nisl in, venenatis purus. In vestibulum ante a ipsum tristique, eu bibendum elit pharetra. Aliquam tempus id eros id dignissim.

	div(class="page-inner page-inner--w2")
		form(class="form")
			div(class="form-row")
				div(class="form-item-holder form-item-holder--third")
					input(type="text", class="form-item form-item--text", placeholder="Name", name="hf1")
				div(class="form-item-holder form-item-holder--third")
					input(type="email", class="form-item form-item--text", placeholder="E-mail", name="hf2", required)
				div(class="form-item-holder form-item-holder--third")
					input(type="text", class="form-item form-item--text", placeholder="Phone", name="hf3")
			div(class="form-row")
				div(class="form-item-holder form-item-holder--full")
					textarea(class="form-item form-item--textarea", placeholder="Question", name="hf4")
			div(class="form-row")
				button(type="submit", class="btn btn--green") Send