extends ../templates/base

block content
    div(class="page-heading")
        div(class="page-inner page-inner--w1")
            h1(class="h1") Profile
            
    div(id="profile")
        div(class="page-profile")
            div(class="page-inner page-inner--w2")
                div(class="page-profile-personal")
                    div(class="page-profile-personal--left")
                        div(class="page-profile-personal-holder")
                            img(src="../dummy/Jon_Smit_1.jpg", class="page-profile-personal-holder-img")
                        div(class="page-profile-personal-info")
                            profileinformation()
                            a(href="#edit-profile", class="btn btn--blue page-profile-personal-info-btn popup") Edit profile
                            a(href="#", class="btn btn--blue-inverse page-profile-personal-info-btn") Edit password
                            
                    div(class="page-profile-personal--right")
                        div(class="page-profile-personal-credits")
                            span(class="page-profile-personal-credits-quantity") 566
                            span credits
                            button(class="btn btn--green page-profile-personal-credits-btn") Get credits
                        getfetch()
                        a(href="#addcard", class="btn btn--blue-inverse page-profile-personal-info-btn popup") Add card
                                
                div(class="page-profile-history")
                    div(class="page-profile-history-header")
                        div(class="page-profile-history-header-item tabs-heading-item active-tabs", data-tabs="history-1")
                            div(class="page-profile-history-header-item-title") Billing History    
                        div(class="page-profile-history-header-item tabs-heading-item", data-tabs="history-2")
                            div(class="page-profile-history-header-item-title") Credit History
                            
                    div(class="page-profile-history-container")
                        div(class="page-profile-history-container-item tabs-content-item active-tabs", id="history-1")
                            div(class="page-profile-history-container-radio")
                                label(class="page-profile-history-radio")
                                    input(type="radio", name="credits", class="page-profile-history-container-radio-item")
                                    span(class="page-profile-history-container-radio-title") MasterCard
                                label(class="page-profile-history-radio")
                                    input(type="radio", name="credits", class="page-profile-history-container-radio-item")
                                    span(class="page-profile-history-container-radio-title") Visa
                                
                            input(type="text", class="page-profile-history-container-text", placeholder="MM DD YY")
                            
                            input(type="text", class="page-profile-history-container-text", placeholder="MM DD YY")
                            
                            a(href="#", class="btn btn--blue page-profile-history-container-btn") View
                        
                            table(class="page-profile-history-container-table")
                                thead
                                    tr
                                        th Date
                                        th Time
                                        th Card
                                        th Amount
                                        th Deal #
                                tbody
                                    tr
                                        td 06/21/2017
                                        td 07:13PM
                                        td XXXX
                                        td $10.60
                                        td # 15
                                    tr
                                        td 06/21/2017
                                        td 07:13PM
                                        td XXXX
                                        td $10.60
                                        td # 15
                                    tr
                                        td 06/21/2017
                                        td 07:13PM
                                        td XXXX
                                        td $10.60
                                        td # 15
            
                                
                        div(class="page-profile-history-container-item tabs-content-item", id="history-2")
                    
        div(id="addcard", class="popup-container popup-addcard white-popup mfp-hide")
            addcard()
        
        div(id="edit-profile", class="popup-container popup-addcard white-popup mfp-hide")
            profileupdate()
    
    script(type="text/x-template", id="vue-profile-information")
        div()    
            div(class="page-profile-personal-info-name") {{ fullname }}
            div(class="page-profile-personal-info-company") {{ user.company }}
            div(class="page-profile-personal-info-position") {{ user.position }}
            a(href="mailto:JonSmit@ro.ro", class="link page-profile-personal-info-email") {{ user.email }}
            a(href="tell:+00000000000", class="link page-profile-personal-info-phone") {{ user.phone }}
            
    script(type="text/x-template", id="vue-get-fetch")
        div(class="page-profile-personal-credits-items")
            div(class="page-profile-personal-credits-item")
                label(class="page-profile-personal-credits-radio")
                    input(type="radio", name="credits", class="page-profile-personal-credits-radio-item")
                    span(class="page-profile-personal-credits-radio-title") MasterCard
                div(class="page-profile-personal-credits-item-number") 5678
                a(href="#",class="page-profile-personal-credits-item-close")
            div(class="page-profile-personal-credits-item")
                label(class="page-profile-personal-credits-radio")
                    input(type="radio", name="credits", class="page-profile-personal-credits-radio-item")
                    span(class="page-profile-personal-credits-radio-title") Visa
                div(class="page-profile-personal-credits-item-number") 5678
                a(href="#",class="page-profile-personal-credits-item-close")
            
    script(type="text/x-template", id="vue-profile-update")
        div()
            form(class="form popup-addcard-form", @submit.prevent="send", v-bind:action="form.action")
                div(class="form-result" v-bind:class="{'form-result--error':!form.success, 'form-result--success': form.success}") {{ form.message }}
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Your first name", v-model="fields.first_name")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Your  last name", v-model="fields.last_name")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Your company", v-model="fields.company_name")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Your phone", v-model="fields.phone")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Your position", v-model="fields.position")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="nda", v-model="fields.nda")
                div(class="popup-addcard-form-row popup-addcard-form-row--left")
                    button(type="submit",class="btn btn--green popup-addcard-form-holder-item--btn") Update
    
    script(type="text/x-template", id="vue-add-card")
        div()
            form(class="form popup-addcard-form", @submit.prevent="send", v-bind:action="form.action")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Name as it apperears on the card", v-model="fields.name")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w1")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Billing Adress", v-model="fields.line1")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w3")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="City", v-model="fields.city")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w3")
                        select(class="popup-addcard-form-holder-item-select", placeholder="State", v-model="fields.state")
                            option(value="1") some text
                            option(value="2") some text
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w3")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="ZIP", v-model="fields.zip")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w2")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Country", v-model="fields.country")
                div(class="popup-addcard-form-row")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w3")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Card Number", v-model="fields.number")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w3")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Security Code", v-model="fields.cvc")
                    div(class="popup-addcard-form-holder popup-addcard-form-holder--w3")
                        input(type="text", class="popup-addcard-form-holder-item popup-addcard-form-holder--text", placeholder="Expiration", v-model="fields.exp_year")            
                div(class="popup-addcard-form-row popup-addcard-form-row--left")
                    button(type="submit", class="btn btn--green popup-addcard-form-holder-item--btn") Add card    

block scripts
    script.
        Vue.component("profileinformation", {
            data: function() {
                return {
                    user: {
                        first_name :  "Victor",
                        last_name  :  "Smith",
                        company    :  "loading...",
                        position   :  "loading...",
                        email      :  "loading...",
                        phone      :  "loading...",
                    }
                }    
            },
            template: "#vue-profile-information",
            computed: {
                fullname: function() {
                    var self = this;
                    
                    return self.user.first_name + " " + self.user.last_name;  
                } 
            },
            created: function() {
                var self = this;
                
                setTimeout(function() {
                     self.user.name = "Mister Smith";
                     self.user.company = "BIG SMITH INDUSTRIALS";
                }, 800);
                
                self.sendRequest();
            },
            methods: {
                sendRequest: function(){
                    var self = this;
                    
                    axios.get("/api/faq").then(function(answer) {
                        console.log(answer);
                    });        
                }
            },
            mounted: function() {
                DEALIBRE.reload();
            }
        });
        Vue.component("profileupdate", {
            data: function() {
                return {
                    fields: {
                        first_name     :  "",
                        last_name      :  "",
                        company_name   :  "",
                        phone          :  "",
                        position       :  "",
                        nda            :  "", 
                    },
                    form: {
                        action: "/api/user/profile",
                        message: "",
                        success: false
                    }
                }
            },
            mixins: [formMixin],
            template: "#vue-profile-update",
            created: function functionName() {
                axios.get("/api/user/source/default/get").then(function(answer) {
                    console.log(answer);
                });
                
                deal = DealibreApp.methods.getDealId(5);
                console.log("asdsad" + deal);
            },
            methods: {
                successCallback: function() {
                    DealibreApp.methods.setAuthorized();
                }
            },
            mounted: function() {
                $form = $(this.$el).find("form");
                console.log($form);
            }

        });
        Vue.component("getfetch", {
            template: "#vue-get-fetch",
            created: function() {
                var self = this;
                self.sendRequest();
            },
            methods: {
                sendRequest: function(){
                    var self = this;
                    
                    axios.get("/api/user/sources/fetch").then(function(answer) {
                        console.log(answer);
                    });        
                }
            },
            mounted: function() {
                DEALIBRE.reload();
            }
        });
        Vue.component("addcard", {
            data: function() {
                return {
                    fields: {
                        name       :  "",
                        line1      :  "",
                        city       :  "",
                        state      :  "",
                        zip        :  "",
                        country    :  "", 
                        number     :  "",
                        cvc        :  "",
                        exp_month  :  "",
                        exp_year   :  "",  
                    },
                    form: {
                        action: "/api/user/cards/add",
                        message: "",
                        success: false
                    }
                }
            },
            mixins: [formMixin],
            template: "#vue-add-card",
        });
        Vue.component("getdefsource", {
            data: function() {
                return {
                    defSource: [],
                }    
            },
            created: function() {
                var self = this;
                self.sendRequest();
            },
            methods: {
                sendRequest: function(){
                    var self = this;
                    
                    axios.get("/api/user/source/default/get").then(function(answer) {
                        console.log(answer);
                    });        
                }
            },            
        });
        new Vue({
            //el: "#profile",
            created: function() {
                DealibreApp.methods.setAuthorized();
                DealibreApp.methods.setHeader("profile", "header-mobile--aut", "black");
            },
        });
