extends ../templates/base_register

block content
    div(class="main-filter")
        div(class="main-filter-items", style="background-color: #4c637b")
            div(class="main-filter-item")
                button(type="submit", class="btn filter-button") new search
                div(class="filter-radio-items")
                    label(class="filter-radio")
                        input(type="radio", name="deals", class="filter-radio-item")
                        span(class="filter-radio-title") All deals
                    label(class="filter-radio")
                        input(type="radio", name="deals", class="filter-radio-item")
                        span(class="filter-radio-title") My deals
                label(class="filter-checkbox")
                    input(type="checkbox", class="filter-checkbox-item")
                    span(class="filter-checkbox-title") Industry
    
            div(class="filter-accordion", data-color="rgb(86, 114, 142)", data-container="location")
                div(class="main-filter-item main-filter-item-header")
                    label(class="filter-checkbox", id="location")
                        input(type="checkbox", class="filter-checkbox-item")
                        span(class="filter-checkbox-title") Location
                div(class="main-filter-item-content main-filter-item-content--lvl1", data-filter="location")                    
                    div(class="main-filter-item")
                        label(class="filter-checkbox")
                            input(type="checkbox", class="filter-checkbox-item")
                            span(class="filter-checkbox-title") Africa
                    div(class="main-filter-item")
                        label(class="filter-checkbox")
                            input(type="checkbox", class="filter-checkbox-item")
                            span(class="filter-checkbox-title") Australia / Oceania
                    div(class="main-filter-item")
                        label(class="filter-checkbox")
                            input(type="checkbox", class="filter-checkbox-item")
                            span(class="filter-checkbox-title") Asia
                    div(class="filter-accordion", data-color="rgb(104, 135, 166)", data-container="europe")
                        div(class="main-filter-item main-filter-item-header")
                            label(class="filter-checkbox", id="europe")
                                input(type="checkbox", class="filter-checkbox-item")
                                span(class="filter-checkbox-title") Europe
                        div(class="main-filter-item-content main-filter-item-content--lvl2", data-filter="europe")   
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Albania
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Andorra
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Armenia
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Austria
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Belarus                    
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Belgium
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Albania
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Andorra
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Armenia
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Austria
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Belarus
                            div(class="main-filter-item")
                                label(class="filter-checkbox")
                                    input(type="checkbox", class="filter-checkbox-item")
                                    span(class="filter-checkbox-title") Belgium    
                    div(class="main-filter-item")
                        label(class="filter-checkbox")
                            input(type="checkbox", class="filter-checkbox-item")
                            span(class="filter-checkbox-title") North America
                    div(class="main-filter-item")
                        label(class="filter-checkbox")
                            input(type="checkbox", class="filter-checkbox-item")
                            span(class="filter-checkbox-title") South America
            div(class="main-filter-item")
                label(class="filter-checkbox")
                    input(type="checkbox", class="filter-checkbox-item")
                    span(class="filter-checkbox-title") Revenue
            div(class="filter-accordion", data-color="rgb(86, 114, 142)", data-container="ebitda")
                div(class="main-filter-item main-filter-item-header")
                    label(class="filter-checkbox", id="ebitda")
                        input(type="checkbox", class="filter-checkbox-item")
                        span(class="filter-checkbox-title") EBITDA                
                div(class="main-filter-item-content", data-filter="ebitda")
                    div(class="main-filter-item")
                        input(type="text", placeholder="FROM $", class="filter-text-item filter-text-item--half")
                        input(type="text", placeholder="TO $", class="filter-text-item filter-text-item--half")
            div(class="main-filter-item")
                label(class="filter-checkbox")
                    input(type="checkbox", class="filter-checkbox-item")
                    span(class="filter-checkbox-title") Cash Flow

    div(class="main-table")
        form(action="#", class="main-table-search")
            div(class="main-table-search-container")
                input(type="text", class="search-input main-table-search-input")
                button(type="submit", class="main-table-search-submit")
            button(type="submit", class="btn btn--blue-inverse main-table-search-unlock") Unlock | 2
            button(type="submit", class="btn btn--blue-inverse main-table-search-export") Export
            button(type="submit", class="btn btn--blue main-table-search-save") Save search
            
        table(class="main-table-result")
            thead
                tr
                    th
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                    th Industry
                    th Location
                    th Company name
                    th Revenue
                    th ebitda
                    th cash Flow
                    th deal type
                    th posted by
                    th user rating
                    th data posted
                    th unlocked
                    th sources
            tbody
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 2
                    td 2
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 1
                    td 1
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 5
                    td 5
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 3
                    td 3
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 5
                    td 5
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                        button(type="button", class="btn btn--green table-btn") 20 | Unlock
                    td Regional Bank
                    td USA / South East
                    td 
                        img(src="../i/lock.png", class="table-img")
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 3
                    td 3
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 3
                    td 3
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 3
                    td 3
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 3
                    td 3
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Food Distributor
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 0
                    td 0
                tr
                    td         
                        label(class="table-checkbox")
                            input(type="checkbox", class="table-checkbox-item")
                            span(class="table-checkbox-title") Export
                    td Regional Bank
                    td USA / South East
                    td Company Name 
                    td $500 mm
                    td $1.8 mm
                    td $1.8 mm
                    td Sale
                    td $1.8 mm
                    td 5.0
                    td 07/15/2016
                    td 3
                    td 3
