include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description, 
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({
			type: "website", 
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		})
		+webIcons({
			favicon: {
				src: "/i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/plugins/slick.css"
			}, {
				media: "screen",
				href: "../css/plugins/magnific-popup.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/jquery.fileuploader.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/jquery.mCustomScrollbar.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true
			},  {
				media: "screen",
				href: "../css/dealibre.responsive.css",
				noCache: true
			}
		])

	body(itemscope, itemtype="http://schema.org/WebPage", class="#{page.bodyClass ? page.bodyClass : ''}")
		div(class="menu-overlay")

		div(class="page")
			header(class="page-header", id="page-header", itemscope, itemtype="http://schema.org/WPHeader")
				pageheader()

				script(type="text/x-template", id="header-tmpl")
					div(class="header-inner")
						div(class="header-mobile", v-show="states.mobileMenu == 'dark-noaut'")
							div(class="header-logo-container")
								a(href="home.html", class="header-logo-white")
							div(class="header-mobile-burger")
								div(class="header-mobile-burger-inner")
							div(class="header-mobile-menu")
								+menu({
									rootClass: "header-menu",
									items: [
										{
											name: "company",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "testimonials",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "join free",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "log in",
											href: "#",
											current: (page.code == "#" ? true : false)
										}
									]
								})
						div(class="header-mobile header-mobile--white", v-show="states.mobileMenu == 'light-noaut'")
							div(class="header-logo-container header-logo-container--light")
								a(href="home.html", class="header-logo-black")
							div(class="header-mobile-burger")
								div(class="header-mobile-burger-inner")
							div(class="header-mobile-menu")
								+menu({
									rootClass: "header-menu",
									items: [
										{
											name: "company",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "testimonials",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "join free",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "log in",
											href: "#",
											current: (page.code == "#" ? true : false)
										}
									]
								})
						div(class="header-mobile header-mobile--white header-mobile--aut", v-show="states.mobileMenu == 'light-aut' && states.page == ''")
							div(class="header-logo-container header-logo-container--light")
								a(href="home.html", class="header-logo-black")
							div(class="header-mobile-burger")
								div(class="header-mobile-burger-inner")
							div(class="header-mobile-menu")
								div(class="header-mobile-container")
									+menu({
										rootClass: "header-menu",
										items: [
											{
												name: "search",
												href: "#",
												current: (page.code == "#" ? true : false)
											}, {
												name: "my deals",
												href: "#",
												current: (page.code == "#" ? true : false)
											}, {
												name: "help",
												href: "#",
												current: (page.code == "#" ? true : false)
											}
										]
									})		
									div(class="header-personal")
										a(href="#", class="header-personal-alerts")
											span(class="header-personal-count") 566
										a(href="#", class="header-personal-mail")
											span(class="header-personal-count") 566
										button(type="submit", class="btn btn--green header-personal-btn") Share deal
										a(href="#profile_popup", class="header-personal-avatar popup")
										a(href="#profile_popup", class="header-personal-initials popup") J. S.
						div(class="header-mobile header-mobile--white header-mobile--aut header-mobile--full", v-show="states.mobileMenu == 'light-aut' && states.page == 'chat'")
							div(class="header-mobile-open")
								img(src="../i/chat_group.png", class="header-mobile-open-img")
							div(class="header-mobile-burger")
								div(class="header-mobile-burger-inner")
							div(class="header-menu-register")
								+menu({
									rootClass: "header-menu",
									items: [
										{
											name: "search",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "my deals",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "help",
											href: "#",
											current: (page.code == "#" ? true : false)
										}
									]
								})
							div(class="header-personal")
								a(href="#", class="header-personal-alerts")
									span(class="header-personal-count") 566
								a(href="#", class="header-personal-mail")
									span(class="header-personal-count") 566
								button(type="submit", class="btn btn--green header-personal-btn") Get Credits
								a(href="#profile_popup", class="header-personal-avatar popup")
							div(class="header-mobile-menu")
								+menu({
									rootClass: "header-menu",
									items: [
										{
											name: "search",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "my deals",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "help",
											href: "#",
											current: (page.code == "#" ? true : false)
										}
									]
								})

						div(class="header-desktop")
							div(class="page-inner page-inner--max", v-show="states.user.authorized && states.header == 'dark'")
								div(class="header-logo-container")
									a(href="home.html", class="header-logo-white")
								div(class="header-menu-register")
									+menu({
										rootClass: "header-menu",
										items: [
											{
												name: "search",
												href: "#",
												current: (page.code == "#" ? true : false)
											}, {
												name: "my deals",
												href: "#",
												current: (page.code == "#" ? true : false)
											}, {
												name: "help",
												href: "#",
												current: (page.code == "#" ? true : false)
											}
										]
									})
								div(class="header-personal")
									a(href="#", class="header-personal-alerts")
										span(class="header-personal-count") 566
									a(href="#", class="header-personal-mail")
										span(class="header-personal-count") 566
									button(type="submit", class="btn btn--green header-personal-btn") Share deal
									a(href="#profile_popup", class="header-personal-avatar popup")
									a(href="#profile_popup", class="header-personal-initials popup") J. S.
							div(class="page-inner page-inner--max", v-show="states.user.authorized && states.header == 'light'")
								div(class="header-logo-container header-logo-container--light")
									a(href="home.html", class="header-logo-black")
								div(class="header-menu-register")
									+menu({
										rootClass: "header-menu",
										items: [
											{
												name: "search",
												href: "#",
												current: (page.code == "#" ? true : false)
											}, {
												name: "my deals",
												href: "#",
												current: (page.code == "#" ? true : false)
											}, {
												name: "help",
												href: "#",
												current: (page.code == "#" ? true : false)
											}
										]
									})
								div(class="header-personal")
									a(href="#", class="header-personal-alerts")
										span(class="header-personal-count") 566
									a(href="#", class="header-personal-mail")
										span(class="header-personal-count") 566
									button(type="submit", class="btn btn--green header-personal-btn") Share deal
									a(href="#profile_popup", class="header-personal-avatar popup")
									a(href="#profile_popup", class="header-personal-initials popup") J. S.
							div(class="page-inner page-inner--w1", v-show="!states.user.authorized")
								a(href="home.html", class="header-logo")
								+menu({
									rootClass: "header-menu",
									items: [
										{
											name: "Company",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "Testimonials",
											href: "#",
											current: (page.code == "#" ? true : false)
										}
									]
								})

								+menu({
									rootClass: "header-bar",
									items: [
										{
											name: "Join free",
											href: "register.html",
											current: (page.code == "register" ? true : false)
										}, {
											name: "Log in",
											href: "signin.html",
											current: (page.code == "signin" ? true : false)
										}
									]
								})
						
			if page.code == "search" || page.code == "chat"
				main(class="page-content-register")
					block content 
			else
				main(class="page-content")
					block content
				
			div(id="profile_popup", class="popup-container popup-profile white-popup mfp-hide")
				div(class="popup-profile-holder")
					img(src="../i/profile.jpg", class="popup-profile-holder-img")
				div(class="popup-profile-personal")
					div(class="popup-profile-name") Jon Smit
					a(href="#", class="link link--blue popup-profile-link") Profile
					div(class="popup-profile-events")
						a(href="#", class="popup-profile-events-alerts")
							span(class="popup-profile-events-count") 566 
						a(href="#", class="popup-profile-events-mail")
							span(class="popup-profile-events-count") 566
				button(type="submit", class="btn btn--green-inverse popup-profile-btn") Sign out
		
		div(class="mobile-panel mobile-panel--chat")
			div(class="chat-logo header-mobile-open")
				img(src="../i/logo_white.png", class="chat-logo-img")
			div(class="chat-dialogues")
				div(class="chat-dialogues-info")
					span(class="chat-dialogues-title") Messaging
					span(class="chat-dialogues-opproved") 5 opproved
					span(class="chat-dialogues-declined") 2 declined
				div(class="chat-dialogues-search")
					form(action"#", class="chat-dialogues-search-form")
						input(type="text", class="chat-dialogues-search-input")
						button(type="submit", class="chat-dialogues-search-submit")
						button(type="button", class="chat-dialogues-search-filter")
				
				div(class="chat-dialogues-items toggle-container replace-scrollbar")
					div(data-tabs="chat-1", class="chat-dialogues-item tabs-heading-item active-tabs")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/Robert_Smit.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Robert Smit
									span(class="chat-dialogues-item-info-quantity") 
										span 1
									img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-country") Country
								div(class="chat-dialogues-item-info-row")
									a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
									a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-company") Company
									div(class="chat-dialogues-item-info-position") Position
				
					div(data-tabs="chat-2", class="chat-dialogues-item tabs-heading-item")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/Amely_Fox.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Amely Fox
									span(class="chat-dialogues-item-info-quantity") 
										span 5
									img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-country") Country
								div(class="chat-dialogues-item-info-row")
									a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
									a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-company") Company
									div(class="chat-dialogues-item-info-position") Position
					div(data-tabs="chat-3", class="chat-dialogues-item tabs-heading-item")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/Oliver_Brown.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Oliver Brown
									img(src="../i/icon_mail_open.png", class="chat-dialogues-item-info-mailopen-icon")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-country") Country
								div(class="chat-dialogues-item-info-row")
									a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
									a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-company") Company
									div(class="chat-dialogues-item-info-position") Position
								
					div(data-tabs="chat-4", class="chat-dialogues-item tabs-heading-item")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/admin.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Administrator
									
					div(data-tabs="chat-5", class="chat-dialogues-item tabs-heading-item")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/Robert_Smit.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Robert Smit
									span(class="chat-dialogues-item-info-quantity") 
										span 1
									img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-country") Country
								div(class="chat-dialogues-item-info-row")
									a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
									a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-company") Company
									div(class="chat-dialogues-item-info-position") Position			
										
					div(data-tabs="chat-5", class="chat-dialogues-item tabs-heading-item")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/Robert_Smit.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Robert Smit
									span(class="chat-dialogues-item-info-quantity") 
										span 1
									img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-country") Country
								div(class="chat-dialogues-item-info-row")
									a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
									a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-company") Company
									div(class="chat-dialogues-item-info-position") Position	
						
						
					div(data-tabs="chat-5", class="chat-dialogues-item tabs-heading-item")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/Robert_Smit.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Robert Smit
									span(class="chat-dialogues-item-info-quantity") 
										span 1
									img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-country") Country
								div(class="chat-dialogues-item-info-row")
									a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
									a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-company") Company
									div(class="chat-dialogues-item-info-position") Position			
										
					div(data-tabs="chat-5", class="chat-dialogues-item tabs-heading-item")
						div(class="chat-dialogues-item-container")
							div(class="chat-dialogues-item-holder")
								img(src="../dummy/Robert_Smit.jpg", class="chat-dialogues-item-holder-img")
							div(class="chat-dialogues-item-info")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-name") Robert Smit
									span(class="chat-dialogues-item-info-quantity") 
										span 1
									img(src="../i/icon_mail.png", class="chat-dialogues-item-info-mail-icon")
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-country") Country
								div(class="chat-dialogues-item-info-row")
									a(href="mailto:Rober@ro.ro", class="link chat-dialogues-item-info-email") Rober@ro.ro
									a(href="tel:+79508585456", class="link chat-dialogues-item-info-phone") +7 950 858 54 56
								div(class="chat-dialogues-item-info-row")
									div(class="chat-dialogues-item-info-company") Company
									div(class="chat-dialogues-item-info-position") Position				

									
												
		if page.code != "search" || page.code != "chat" 
			div(id="footer-holder")
				pagefooter()

			script(type="text/x-template", id="footer-tmpl")
				footer(class="page-footer", v-show="!states.user.authorized",itemscope, itemtype="http://schema.org/WPFooter", id="page-footer")
					div(class="page-inner page-inner--w1")
						+menu({
							rootClass: "footer-menu",
							items: [
								{
									name: "Company",
									href: "#",
									current: (page.code == "#" ? true : false)
								}, {
									name: "Testimonials",
									href: "#",
									current: (page.code == "#" ? true : false)
								}, {
									name: "Support && General Q&A",
									href: "#",
									current: (page.code == "#" ? true : false)
								}, {
									name: "Contact",
									href: "contacts.html",
									current: (page.code == "contacts" ? true : false)
								}
							]
						})

						div(class="footer-social")
							div(class="footer-social-items")
								a(href="#", target="_blank", class="footer-social-item")
									include ../../prod/svg/fb.svg
								a(href="#", target="_blank", class="footer-social-item")
									include ../../prod/svg/insta.svg
								a(href="#", target="_blank", class="footer-social-item")
									include ../../prod/svg/ln.svg



		+addJS([
			{
				src: "../js/jquery-3.2.1.min.js"
			}, {
				src: "../js/plugins/jcf.js"
			}, {
				src: "../js/plugins/jcf.select.js"
			}, {
				src: "../js/plugins/jcf.checkbox.js"
			}, {
				src: "../js/plugins/jcf.radio.js"
			}, {
				src: "../js/plugins/jquery.fileuploader.js"
			}, { 
				src: "../js/plugins/jquery.validate.min.js"
			}, { 
				src: "../js/plugins/slick.min.js"
			}, { 
				src: "../js/plugins/jquery.mCustomScrollbar.concat.min.js"
			}, { 
				src: "../js/plugins/jquery.raty.js" 
			}, { 
				src: "../js/plugins/jquery.magnific-popup.min.js"
			}, { 
				src: "../js/plugins/geometryangle.min.js"
			}, {
				src: "../js/plugins/sticky-kit.js"
			}, {
				src: "https://unpkg.com/vue"
			}, {
				src: "https://unpkg.com/axios/dist/axios.min.js"
			}, { 
				src: "../js/plugins/js.cookie.js"
			}, { 
				src: "../js/plugins/ssm.min.js"
			}, {
				src: "../js/plugins/jquery.mask.min.js"
			}, {
				src: "../js/" + info.code + ".js"
			}, {
				src: "../js/" + info.code + ".app.js"
			}
		])

		block scripts

		
