include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description, 
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({
			type: "website", 
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		})
		+webIcons({
			favicon: {
				src: "/i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/plugins/slick.css"
			}, {
				media: "screen",
				href: "../css/plugins/magnific-popup.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/perfect-scrollbar.min.css",
				noCache: true,
			},{
				media: "screen",
				href: "../css/plugins/jquery.fileuploader.css",
				noCache: true,

			}, {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true
			}
		])

	body(itemscope, itemtype="http://schema.org/WebPage", class="#{page.bodyClass ? page.bodyClass : ''}")

		div(class="page")
			header(class="page-header", id="page-header", itemscope, itemtype="http://schema.org/WPHeader")
				pageheader()

				script(type="text/x-template", id="header-tmpl")
					div(class="header-inner")
						div(class="page-inner page-inner--max", v-show="states.user.authorized")
							div(class="header-logo-container")
								a(href="home.html", class="header-logo-white")
									img(src="", class="header-logo-img")
							div(class="header-menu-register")
								+menu({
									rootClass: "header-menu",
									items: [
										{
											name: "search",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "my deals",
											href: "#",
											current: (page.code == "#" ? true : false)
										}, {
											name: "help",
											href: "#",
											current: (page.code == "#" ? true : false)
										}
									]
								})
							div(class="header-personal")
								a(href="#", class="header-personal-alerts")
									span(class="header-personal-count") 566
								a(href="#", class="header-personal-mail")
									span(class="header-personal-count") 566
								button(type="submit", class="btn btn--green subscribe-form-submit header-personal-btn") Share deal
								a(href="#profile", class="header-personal-avatar popup")
								a(href="#profile", class="header-personal-initials popup") J. S.
					
						div(class="page-inner page-inner--w1", v-show="!states.user.authorized")
							a(href="home.html", class="header-logo")
								img(src="", class="header-logo-img")

							+menu({
								rootClass: "header-menu",
								items: [
									{
										name: "Company",
										href: "#",
										current: (page.code == "#" ? true : false)
									}, {
										name: "Testimonials",
										href: "#",
										current: (page.code == "#" ? true : false)
									}
								]
							})

							+menu({
								rootClass: "header-bar",
								items: [
									{
										name: "Join free",
										href: "register.html",
										current: (page.code == "register" ? true : false)
									}, {
										name: "Log in",
										href: "signin.html",
										current: (page.code == "signin" ? true : false)
									}
								]
							})
					
			if page.code == "search" || page.code == "chat"
				main(class="page-content-register")
					block content 
			else
				main(class="page-content")
					block content
				
			div(id="profile", class="popup-container popup-profile white-popup mfp-hide")
				div(class="popup-profile-holder")
					img(src="../i/profile.jpg", class="popup-profile-holder-img")
				div(class="popup-profile-personal")
					div(class="popup-profile-name") Jon Smit
					a(href="#", class="link link--blue popup-profile-link") Profile
					div(class="popup-profile-events")
						a(href="#", class="popup-profile-events-alerts")
							span(class="popup-profile-events-count") 566 
						a(href="#", class="popup-profile-events-mail")
							span(class="popup-profile-events-count") 566
				button(type="submit", class="btn btn--green-inverse popup-profile-btn") Sign out
	
		if page.code != "search" || page.code != "chat" 
			div(id="footer-holder")
				pagefooter()

			script(type="text/x-template", id="footer-tmpl")
				footer(class="page-footer", v-show="!states.user.authorized", itemscope, itemtype="http://schema.org/WPFooter", id="page-footer")
					div(class="page-inner page-inner--w1")
						+menu({
							rootClass: "footer-menu",
							items: [
								{
									name: "Company",
									href: "#",
									current: (page.code == "#" ? true : false)
								}, {
									name: "Testimonials",
									href: "#",
									current: (page.code == "#" ? true : false)
								}, {
									name: "Support && General Q&A",
									href: "#",
									current: (page.code == "#" ? true : false)
								}, {
									name: "Contact",
									href: "contacts.html",
									current: (page.code == "contacts" ? true : false)
								}
							]
						})

						div(class="footer-social")
							div(class="footer-social-items")
								a(href="#", target="_blank", class="footer-social-item")
									include ../../prod/svg/fb.svg
								a(href="#", target="_blank", class="footer-social-item")
									include ../../prod/svg/insta.svg
								a(href="#", target="_blank", class="footer-social-item")
									include ../../prod/svg/ln.svg



		+addJS([
			{
				src: "../js/jquery-3.2.1.min.js"
			}, {
				src: "../js/plugins/jcf.js"
			}, {
				src: "../js/plugins/jcf.select.js"
			}, {
				src: "../js/plugins/jcf.checkbox.js"
			}, {
				src: "../js/plugins/jcf.radio.js"
			}, {
				src: "../js/plugins/jquery.fileuploader.js"
			}, { 
				src: "../js/plugins/jquery.validate.min.js"
			}, { 
				src: "../js/plugins/slick.min.js"
			}, { 
				src: "../js/plugins/perfect-scrollbar.jquery.min.js"
			}, { 
				src: "../js/plugins/jquery.raty.js"
			}, { 
				src: "../js/plugins/jquery.magnific-popup.min.js"
			}, { 
				src: "../js/plugins/geometryangle.min.js"
			}, {
				src: "../js/plugins/sticky-kit.js"
			}, {
				src: "https://unpkg.com/vue"
			}, {
				src: "https://unpkg.com/axios/dist/axios.min.js"
			}, { 
				src: "../js/plugins/js.cookie.js"
			}, {
				src: "../js/plugins/jquery.mask.min.js"
			}, {
				src: "../js/" + info.code + ".js"
			}, {
				src: "../js/" + info.code + ".app.js"
			}
		])

		block scripts

		
